/* body{
  overflow: hidden;
} */
.input-field {
  position: relative;
}

.input-field i {
  position: absolute;
  top: 35px;
  left: 15px;
  font-size: 20px;
}

.input-field input {
  padding-left: 40px;
}

.signup-image{
  height: 400px;
  width: 500px;
}
.signup-image a{
  
  text-decoration: none;
}
.signin-image{
  height: 400px;
  width: 500px;
}
.signin-image a{
  
  text-decoration: none;
}
.home-page{
    height: 100vh;
    background: linear-gradient(90deg,deepskyblue 50%, aliceblue 50%);
    
}
.tab-content label{
  font-weight: bold;
}
.tab-content p {
  color: #318e9d;
}
.profile-work a{
  text-decoration: none;
  color: #9a9f96;
}
.profile_ready{
  color: #318e9d;
}
.profile_head p {
  font-size: medium;
}
.not-found {
  /* position:relative; */
 bottom:250px;
 right:400px;
 z-index:99;
 color:black;
 text-align: center;
}
.not-found-text1{
 opacity:0.4;
}
.not-found a{
  text-decoration: none;
}
.not-found-404{
  font-size: 150px;
  opacity:0.4;
}
.not-found h2{
 font-weight: bold;
 text-transform:uppercase;
}
.home-page-title1{
  font-size:30px;
}
.home-page-title2{
  font-size:40px;
}
.home-page-name{
  font-size: 16px;
  text-transform: uppercase;
}